<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Página de login</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login">
            <mat-form-field>
              <input matInput placeholder="Usuario">
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" placeholder="Contraseña">
              </mat-form-field>
              <button mat-raised-button type="submit" class="button-login">Aceptar</button>
              <button mat-raised-button type="submit" class="button-login">Recordar Contraseña</button>
              <button mat-raised-button type="submit" class="button-login">Nuevo usuario</button>
          </form>
    </mat-card>
</div>